@font-face {
  font-family: 'Cabin';
  src: url('./assets/Cabin/Cabin-Regular.ttf');
}

@font-face {
  font-family: 'Baleza';
  src: url('./assets/Belleza/Belleza-Regular.ttf');
}

*{
  font-family: 'Cabin';
}

body {
  margin: 0;
}
